name: Lint Code Base
on:
  push:
      branches: [ "master" ]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v3
     - name: Install eslint
       run: npm i eslint
     - name: Run eslint
       run: node_modules/eslint/bin/eslint.js 
  build:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build image
        run: docker build -t ${{secrets.DOCKERHUB_USERNAME}}/node-app:v1 .
  push:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push to DockerHub
        uses: docker/build-push-action@v3
        with:
          context: .
          tags: ${{secrets.DOCKERHUB_USERNAME}}/node-app:v1
          push: true
