# Пример для проекта на Node.js
name: learn-github-actions2
run-name: ${{ github.actor }} 
on: [push]
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
      - name: install dependencies
        run: npm install && npm ci

      - name: check format
        run: npm run format
